@using Zefugi.Digraph.Model
@inject NavigationManager NavigationManager

<b>Project: @Project.Title</b><br />
<button @onclick="CreateModel_Click">New Model</button>

@code {
    [Parameter] public Project Project { get; set; }

    protected override void OnInitialized()
    {
        if (Project == null)
        {
            Project = new Project()
            {
                Title = "Untitled",
            };
        }
    }

    private void CreateModel_Click()
    {
        NavigationManager.NavigateTo("/ModelView");
    }
}
